.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #101010;
}



.btn-primary:hover {
  color: #fff;
  background-color: #555;
  border-color: #111;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.error {
    color: #FF0000
}

.first {
    color: aliceblue;
    background: #080808;



}

.numb {
    width: 60px;
    text-align: right;
}

.fa-arrow-down {
    color: cornflowerblue;
}

.fa-arrow-up {
    color: darkgreen;
}

.date {
    width: 100px;
}

.time {
    width: 80px;
}

.tel {
    width: 125px;
    text-align: right;
}

.msg {
text-align: center;
}

.table {
    font-size: 15px;
    font-weight: bold;

}

.duration {
    width: 100px;
    text-align: right;


}

.call_name {

    text-align: center;
}

.call_date {

    text-align: center;
}

.call_numb {
    width: 60px;
    text-align: right;
}

.call_time {
    width: 100px;
    text-align: center;
}

.first {
    overflow-x: auto;

}

.tboby {
    display: block;
}




tboby {
    display: block;
}

.call_name {
    width: auto;
    text-align: center;
}

.call_phone {
    width: auto;
    text-align: center;
}

tr:hover {
    background: #080808; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }

.click {
    cursor:pointer;
}

.fa-times-circle-o {
    color: darkred;
}

.fa-times {
    color: #bb0000;
}


.iframe {
    width: 100%;
    border: none;
}


.read {
    color: red;
}

.green {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight :bold;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    color: #00b000;
    outline: none;
    border: 2px solid #000 ;
    border-radius: 5px;
    box-shadow: 0 0 1em #888;
    background: linear-gradient(#000, #333 48%, #222 52%, #555);
}

.green:active {
    top: .05em;
     box-shadow: 0 0 0 #555;
    color: #0c0;
}

.green:hover {


}

.red {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight :bold;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    color: #d00000;
    outline: none;
    border: 2px solid #000 ;
    border-radius: 5px;
    box-shadow: 0 0 1em #888;
    background: linear-gradient(#000, #333 48%, #222 52%, #555);
}

.red:active {
    top: .05em;
     box-shadow: 0 0 0 #555;
    color: #f00000;
}

.red:hover {

}

.btn_sms {

    left: auto;
    font-size: 18px;
    font-weight :bold;
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 70px;
    height: 50px;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    color: #00BFFF;
    outline: none;
    border: 2px solid #000 ;
    border-radius: 5px;
    box-shadow: 0 0 1em #888;
    background: linear-gradient(#000, #333 48%, #222 52%, #555);
}

.btn_sms:active {
    top: .05em;
     box-shadow: 0 0 0 #555;
    color: #87CEFA;
}

.btn_sms:hover {
background: linear-gradient(#000, #333 48%, #222 52%, #555);
}

.btn_line {
    display: inline-block;
    text-align: justify;

}

.parent{
        width:auto;
        padding:5px;
        white-space:nowrap;
    }






.text {
    margin: 50px;
    text-indent: 20px;
   font-size: 15px;
}

h2 {
    text-indent: -20px;
}

h1 {
    text-indent: -20px;
}

.str{color:red}/* Строки красные */
.func{color:blue}/* Юзер-функции синие */
.comm{color:#555}/* Комменты оранжевые */
.kwrd{font-weight:bold}/* Ключевые слова полужирные */
.str span{color:red;font-weight:normal}/* Всё внутри строки — строка */
.comm span{color:orange;font-weight:normal}/* Всё внутри комментария — комментарий */



.text_span {
    color: #fff;
    padding-top: 1px;
    padding-left: 3px;
}

.text_span:hover {
    color: #000;
    padding-top: 1px;
    padding-left: 3px;
}
